<table>
  <caption>Results</caption>
  <thead>
  <tr>
    <% @view.table_headers.each do |header| %>
      <th><%= header %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @view.users.each do |user| %>
      <tr class="<%= @view.user_row_class(user) %>">
        <% @view.user_names(user).each do |user_name| %>
          <td class="<%= @view.user_header_class(user) %>"><%= user_name %></td>
        <% end %>
        <td><%= user.score %></td>
        <% @view.games_stats(user).each do |stats| %>
            <td><%= stats %></td>
        <% end %>
      </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <% @view.table_footers.each do |footer| %>
      <th><%= footer %></th>
    <% end %>
  </tr>
  </tfoot>
</table>