<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :home_player %><br>
    <%= f.collection_select(:home_player_id, User.all, :id, :last_name) %>
  </div>
  <div class="field">
    <%= f.label :away_player %><br>
    <%= f.collection_select(:away_player_id, User.all, :id, :last_name) %>
  </div>
  <div class="field">
    <%= f.label :home_score %><br>
    <%= f.number_field :home_score %>
  </div>
  <div class="field">
    <%= f.label :away_score %><br>
    <%= f.number_field :away_score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
